### Importando pandas

In [6]:
import pandas as pd

### Importando Database

In [10]:
from sqlalchemy import create_engine

### Criando a conexão

In [17]:
import pymysql
import urllib.parse

# Definir as credenciais
user = 'root'
password = urllib.parse.quote_plus('senai@123')
host = 'localhost'
database = 'schooltracker'

# Criar URL de conexão

connection_string = f'mysql+pymysql://{user}:{password}@{host}/{database}'

# Criar conexão com o create_engine()
engine = create_engine(connection_string)

# Escrever consulta SQL

query_alunos = "SELECT * FROM aluno"

# Criar DataFrame

df_alunos = pd.read_sql(query_alunos, engine)

# Mostrar 5 primeiros
df_alunos.head()

    id        ra  nome  tempo_de_estudo  renda_media_familia
0  114  00034548  None              NaN                  NaN
1  115  00034549  None              NaN                  NaN
2  116  00034547  None              NaN                  NaN
3  117  00034546  None              NaN                  NaN
4  118  00034550  None              NaN                  NaN

#### Quais a bibliotecas um cientista de dados utiliza?
- Pandas;
- NumPy;
- Fundamentos de IA (Scikit-learn)

#### Material didático
- Pandas e NumPy (Notebook)
- Scikit-Learn (Apostila do SENAI)